body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
:root {
  --color-iris: #4d5ae5;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --header-hover-color: #404bbf;
}
/* nav */
.list {
  list-style: none;
}
/* Logo */
.link {
  text-decoration: none;
}
.logostyles {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logostylescolor {
  color: #2e2f42;
}
/* Nav */
.navstyles {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-navy-blue-modal);
}
.navstyleshover:hover {
  color: var(--header-hover-color);
}
.navstylescontact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section styles */
.secstylesup {
  height: 600px;
  background-color: var(--color-navy-blue-modal);
}
.secstylesdown {
  height: 312px;
  background-color: var(--color-navy-blue-modal);
  text-align: left;
}

/* H */
.stylesh1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #fff;
}

.stylesh2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.stylesh3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-navy-blue);
}
/* button */

.stylesbutton {
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 169px;
  height: 56px;
  text-align: center;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.stylesbuttonhover:hover {
  background-color: #404bbf;
}
.buttonportfolio {
}
/* text */
.stylestext {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.footertext {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  text-align: left;
}
